<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5c95cd5f3c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <title>NKP Systems Checker</title>
</head>
<body>
    <nav class="navbar mb-4" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{ url_for('index') }}">
            <img src="../static/images/NKP Industries Logo-transparent background.png">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('index') }}">
              Home
            </a>
      
            <a class="navbar-item" href="{{ url_for('documentation') }}">
              Documentation
            </a>
      
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  About
                </a>
                <a class="navbar-item">
                  Jobs
                </a>
                <a class="navbar-item">
                  Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div>
            </div>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light">
                  Log in
                </a>
              </div>
            </div>
          </div>
        </div>
    </nav>
    <div class="container">
        <div class="field is-grouped">
            <p class="control">
              <button id="save-btn" class="button is-info">
                <span class="icon">
                    <i class="fas fa-save"></i>
                </span>
                <span>Save</span>
              </button>
            </p>
        </div>
        <div class="container">
            <div class="field">
                <label class="label">ID</label>
                <div class="control">
                  <input id="id" class="input" type="number" value="0" disabled>
                </div>
            </div>
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                  <input id="name" class="input" type="text" value="">
                </div>
            </div>
            <div class="field">
                <label class="label">Server</label>
                <div class="control">
                  <input id="server" class="input" type="text" value="">
                </div>
            </div>
            <div class="field">
                <label class="label">Check Type</label>
                <div class="control">
                    <div class="select">
                        <select id="check-type">
                            {% for c in check_types %}
                            <option>{{ c }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Check Category</label>
                <div class="control">
                    <div class="select">
                        <select id="check-category">
                            {% for s in check_categories %}
                            <option>{{ s }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Business Unit</label>
                <div class="control">
                  <input id="business-unit" class="input" type="text" value="">
                </div>
            </div>
            <div class="field">
                <label class="label">System</label>
                <div class="control">
                  <input id="system" class="input" type="text" value="">
                </div>
            </div>
            <hr>
            <div class="field is-hidden hidable">
                <label class="label">Service</label>
                <div class="control">
                  <input id="service" class="input" type="text" value="">
                </div>
            </div>
            <div class="field is-hidden hidable">
                <label class="label">URL</label>
                <div class="control">
                  <input id="url" class="input" type="text" value="">
                </div>
            </div>
            <div class="fiel is-hidden hidable">
                <label class="label">Program</label>
                <div class="control">
                  <input id="program" class="input" type="text" value="">
                </div>
            </div>
            <div class="field is-hidden hidable">
                <label class="label">Instance Count</label>
                <div class="control">
                  <input id="instance-count" class="input" type="number" value="0">
                </div>
            </div>
            <div class="field is-hidden hidable">
                <label class="label">Database</label>
                <div class="control">
                  <input id="database" class="input" type="text" value="">
                </div>
            </div>
            <div class="field is-hidden hidable">
                <label class="label">Company</label>
                <div class="control">
                  <input id="company" class="input" type="text" value="">
                </div>
            </div>
            <div class="field is-hidden hidable">
                <label class="label">Job ID</label>
                <div class="control">
                  <input id="job-id" class="input" type="text" value="">
                </div>
            </div>
            <div class="field is-hidden hidable">
                <label class="label">Object Type</label>
                <div class="control">
                    <div class="select">
                        <select id="object-type">
                            {% for o in object_types %}
                            <option>{{ o }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="field is-hidden hidable">
                <label class="label">Object ID</label>
                <div class="control">
                  <input id="object-id" class="input" type="number" value="0">
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/add.js"></script>
</body>
</html>